* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Motiva Sans", Arial, sans-serif;
  scroll-behavior: smooth;
  color-scheme: dark;
}

html, body {
  height: 100%;
  margin: 0;
}

#root {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
  background: linear-gradient(152deg, #313843 0%, #1E2329 100%);
}
