* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  color-scheme: white;
}

:root {
  /* Font weights and sizes */
  --Text-HeadingLarge:  26px ;
  --Text-HeadingMedium: 22px;
  --Text-HeadingSmall: 18px;
  --Text-BodyLarge: 16px;
  --Text-BodyMedium: 14px;
  --Text-BodySmall: 12px;

  /* Colors */
  --Color-TextMain: #f3f3f3;
  --Color-TextDim: #76808c;
  --Color-BgMain: #0e141b;
  --Color-BgHighlight: #1e2329;
  --Color-BgHover: #313843;
  --Color-BgSecondary: #14344b;
  --Color-BgTertiary: #212b45;
  --Color-Primary: #66c0f4;
  --Color-Secondary: #4b619b;
  --Color-AccentGreen: #a1cd44;
  --Color-AccentRed: #cd5444;
  --Color-AccentYellow: #c1b15f;
}
